<header id="header">
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <a routerLink="/">
        <img src="assets/img/logo.png" alt="" title="" style="width: 60px;" />
      </a>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/kdrive">KDrive</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->
