/** BANNER **/
.banner-content h1 {
  font-size: 60px !important;
  font-weight: 600 !important;
  line-height: 1em !important;
  margin-top: 10px !important;
  color: #f9d700 !important;
}

.banner-content h6 {
  font-size: 14px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  letter-spacing: 2px !important;
}

.banner-content .primary-btn {
  background-color: #f9d700;
  color: #222;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

/** END BANNER **/

/** SERVICES **/
.services-area .single-service:hover h4,
.services-area .single-service:hover .lnr {
  color: #f9d700 !important;
}

.section-title {
  text-align: center;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

/** END SERVICES **/

/** FORM RESA **/
.ngx-datepicker-calendar-container .ngx-datepicker-position-bottom-right {
  z-index: 10 !important;
}

.header-right {
  background-color: #f9d700;
  padding: 40px;
  text-align: center;
}

.header-right .btn-lg {
  width: 100%;
  font-size: 14px;
  color: #fff !important;
  background-color: #000000;
}

/** END FORM RESA **/

/** ABOUT AREA **/
.section-gap {
  padding: 50px 0;
}

.home-about-area .about-right h4 {
  font-size: 18px !important;
  padding: 20px 0px !important;
  font-weight: 300 !important;
}

/** END ABOUT AREA **/

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.section-gap {
  padding: 120px 0;
}

.home-calltoaction-area {
  background: url(../../../assets/img/call-action-bg.jpg) center;
  background-size: cover;
}

.home-calltoaction-area p {
  margin-bottom: 0px;
  margin-top: 20px;
  color: #222 !important;
}

@media (max-width: 480px) {
  .header-right {
    z-index: 10;
    padding: 20px;
  }

  .about-left {
    visibility: hidden;
  }

  .about-right {
    text-align: center;
  }

  .banner-content {
    padding-top: 150px;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 32px !important;
  }

  .section-avis {
    text-align: center;

    .btn-left {
      text-align: center;
    }
  }

  .services-area .single-service {
    margin: 1em 1em 0;
  }
}
