			<!-- start footer Area -->
			<footer class="footer-area section-gap">
			  <div class="container">
			    <div class="row">
			      <div class="col-lg-3 col-md-6 col-sm-6">
			        <div class="single-footer-widget">
			          <h6>Liens du site</h6>
			          <ul>
			            <li><a routerLink="/">Home</a></li>
			            <li><a routerLink="/kdrive">KDrive</a></li>
			            <li><a routerLink="/contact">Contact</a></li>
			          </ul>
			        </div>
			      </div>
			      <div class="col-lg-3 col-md-6 col-sm-6">
			        <div class="single-footer-widget">
			          <h6>Politique du site</h6>
			          <ul>
			            <li><a routerLink="/terms">Mentions légales</a></li>
			          </ul>
			        </div>
			      </div>
			      <div class="col-lg-3 col-md-6 col-sm-6 social-widget">
			        <div class="single-footer-widget">
			          <h6>Suivez-nous</h6>
			          <div class="footer-social d-flex align-items-center">
			            <a href="#"><i class="fa fa-facebook"></i></a>
			            <a href="#"><i class="fa fa-instagram"></i></a>
			            <a href="#"><i class="fa fa-snapchat"></i></a>
			          </div>
			        </div>
			      </div>
			      <p class="mt-80 mx-auto footer-text col-lg-12">
							KDRIVE© | Tous droits réservés | Réalisé par <a href="https://dpwstudio.com" target="_blank">DP WStudio</a>
			      </p>
			    </div>
				</div>
			</footer>
			<!-- End footer Area -->
