<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          KDrive
        </h1>
        <p class="text-white link-nav"><a routerLink="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a
            routerLink="/contact">KDrive</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start home-about Area -->
<section class="home-about-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 about-left">
        <img class="img-fluid" src="assets/img/about-img.jpg" alt="">
      </div>
      <div class="col-lg-6 about-right">
        <h1>Nos Taxis Kdrive</h1>
        <h4>Toutes nos motos suréquipées pour votre confort et votre sécurité</h4>
        <p>Nos Taxis KDrive vous transportent à bord de motos Honda goldwing 1800cc afin de garantir un confort et une
          sécurité pour votre trajet. Votre sécurité passe avant tout, et nous vous garantissons un transport sûr,
          rapide et confortable. Les équipements proposés conjugués à un style de conduite souple par nos chauffeurs de
          taxi moto, permettent de complètement sécuriser votre transport.

        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 about-right">
        <h3 class="mb-30">Services</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20"><i class="fa fa-briefcase"
                  style="font-size: 20px; padding: 10px; margin-right: 10px; background: #F9D700; color: white; border-radius: 50%;"></i>
                Bagages</h4>
              <p>Nos équipes sont pourvues de motos avec de grands espaces de rangements. Ainsi, il est possible de
                transporter une sacoche d'ordinateur, une valise cabine et un
                sac à main ou un sac souple : soit un total de 158 litres de chargement.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20"><i class="fa fa-calendar"
                  style="font-size: 20px; padding: 10px; margin-right: 10px; background: #F9D700; color: white; border-radius: 50%;"></i>
                Disponibilité</h4>
              <p>Votre chauffeur vous attend 10 minutes gratuitement à compter de votre heure de réservation. Au-delà,
                des
                frais d’attente sont facturés 1€/minute. Pour les aéroports et gares, l’attente est gratuite jusqu’à
                20
                minutes après votre heure de réservation. Au-delà, des frais d’attente sont facturés 1€/minute pour
                les
                Moto-taxis. En cas de retard d’un vol ou d’un train dont le numéro a été fourni pendant la
                réservation,
                aucuns frais d’attente ne seront facturés.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h4 class="mb-20"><i class="fa fa-certificate"
                  style="font-size: 20px; padding: 10px; margin-right: 10px; background: #F9D700; color: white; border-radius: 50%;"></i>
                Assurance</h4>
              <p>La société dispose d'un savoir-faire de plus de 5 ans, la qualité de nos prestations fait de nous un
                moyen fiable et sérieux de ce déplacé. Nous sommes ainsi que l'ensemble de nos passagers couverts par
                une
                assurance professionnelle << transport de personnes>>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 about-right">
        <h3 class="mb-30">Exemple de tarification</h3>
        <div class="progress-table-wrap">
          <div class="progress-table">
            <div class="table-head">
              <div class="serial">N°Trajet</div>
              <div class="visit">Lieu de départ</div>
              <div class="visit">Lieu d'arrivée</div>
              <div class="visit">Tarif</div>
            </div>
            <div class="table-row">
              <div class="serial">01</div>
              <div class="visit">Paris</div>
              <div class="visit">Paris</div>
              <div class="visit">50 €</div>
            </div>
            <div class="table-row">
              <div class="serial">02</div>
              <div class="visit">Paris</div>
              <div class="visit">La Défense</div>
              <div class="visit">70 €</div>
            </div>
            <div class="table-row">
              <div class="serial">03</div>
              <div class="visit">Paris</div>
              <div class="visit">Roissy Charles de gaulle</div>
              <div class="visit">90 €</div>
            </div>
            <div class="table-row">
              <div class="serial">04</div>
              <div class="visit">Paris</div>
              <div class="visit">Orly</div>
              <div class="visit">70 €</div>
            </div>
          </div>
          <ul style="margin: 10px 0 20px;">
            <li>
              <h4>Informations complémentaires</h4>
            </li>
            <li>- Hors Paris : 25€ de prise en charge et 2,50 €/km.</li>
            <li>- Majoration de 50% si la reservation est de -2h et de 22h à 7h.</li>
            <li>- Majoration de 50% le week end et jours férié</li>
            <li>- Merci d'annoncer le paiement par carte bancaire lors de la réservation</li>
            <li>- Une majoration de 20€ pourra être appliqué en cas d'évènements exceptionnels (grève, manifestation,
              conduite rapide, etc.)</li>
          </ul>
          <a class="text-uppercase primary-btn" routerLink="/devis">Demande de devis</a>
        </div>
      </div>
      <div class="col-lg-12 about-right">
        <h3 class="mb-30">Tarif de mise à disposition</h3>
        <div class="progress-table-wrap">
          <div class="progress-table">
            <div class="table-head">
              <div class="serial">Formule</div>
              <div class="visit">Durée</div>
              <div class="visit">Tarif</div>
            </div>
            <div class="table-row">
              <div class="serial">01</div>
              <div class="visit">1h</div>
              <div class="visit">90 €</div>
            </div>
            <div class="table-row">
              <div class="serial">02</div>
              <div class="visit">4h</div>
              <div class="visit">300 €</div>
            </div>
            <div class="table-row">
              <div class="serial">03</div>
              <div class="visit">8h</div>
              <div class="visit">500 €</div>
            </div>
          </div>
        </div>
        <ul style="margin: 10px 0 20px;">
          <li>
            <h4>Informations complémentaires</h4>
          </li>
          <li>- Retard au delà de 10min => 1€/la minute.</li>
          <li>- Pas de retard facturé en aéroport et en gare.</li>
          <li>- Merci d'annoncer le paiement par carte bancaire lors de la réservation</li>
        </ul>
        <a class="text-uppercase primary-btn" routerLink="/devis">Demande de devis</a>
      </div>
    </div>

  </div>
</section>
<!-- End home-about Area -->
